.settings__content {
}

.settings__open-bookmark {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 15px;
}

.settings__open-bookmark-label {
    padding-left: 6px;
}

.settings__widgets-visibility {
    display: grid;
    grid-template-columns: repeat(2, auto);
    row-gap: 15px;
    justify-content: space-evenly;
    padding-bottom: 15px;
}
