body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
    text-align: center;
    background-image: url("img/BackgroundOfficeMountainsEpic.webp");
    background-color: rgba(0, 0, 0, 70%);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 25% 40%;
    background-size: cover;
    overflow: hidden;
    transition: all 500ms ease-in-out;
}

.App:hover {
    filter: none;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.App-header {
    font-size: 19px;
    color: white;
    padding: 15px 10px 15px 10px;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 1vh;
    min-height: calc(100vh - 30px);
    transition: all 500ms ease-in-out;
}

.item-max-header {
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 30px;
    flex-direction: row;
    padding: 7px 15px 7px 15px;
    margin-bottom: 4px;
    max-height: 23px;
    transition: all 500ms ease-in-out;
}

.menu-hidden {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    max-height: 0;
    overflow: hidden;
}

.menu-item {
    transition: all 500ms ease-in-out;
    user-select: none;
}

.menu-hidden .menu-item {
    opacity: 0;
}

.bro-three-letters {
    border: 2px solid #fff;
    border-radius: 8px;
    margin-top: 0;
    padding: 0 2px 0 3px;
    position: absolute;
    transition: all .5s ease-in-out;
    user-select: none;
    line-height: 1em;
}

.menu-hidden .bro-three-letters {
    margin-top: -2px;
    margin-left: -21px;
    transform: rotate(-35deg);
    background-color: #000;
}

.launcher-text {
    padding-left: 52px;
}

.filter-gray {
    filter: grayscale(80%);
}

.modal {
    position: fixed;
    width: 400px;
    z-index: 1040;
    top: calc(60% - 400px);
    left: calc(60% - 400px);
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.backdrop {
    position: fixed;
    z-index: 1040;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0.5;
}

.modal-title {
    font-weight: 500;
    font-size: 1.25rem;
    margin: auto;
}

.modal-header {
    border-bottom: 1px solid #e9ecef;
    display: flex;
    justify-content: space-between;
}

.modal-desc,
.modal-header,
.modal-footer {
    padding: 12px;
}

.close-button {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    border: none;
    background-color: white;
    opacity: 0.7;
    cursor: pointer;
}

button {
    cursor: pointer;
    font-size: 1rem;
    padding: 10px 12px;
    border-radius: 5px;
    border: none;
}

.modal-footer {
    border-top: 1px solid #e9ecef;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.secondary-button {
    color: #fff;
    background-color: #dc3545;
}

.primary-button {
    color: #fff;
    background-color: #28a745;
}

.modal-example {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-style-selector-block {
    margin-top: 20px;
    width: 100%;
}

.input-style {
    width: 97%;
}

.import-button {
    display: none;
}

.y-wrapper {
    width: 150px;
    background-color: rgba(255, 255, 255, 50%);
    padding: 10px;
    border-radius: 20px;
    margin-left: 20px;
}

.g-wrapper {
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    margin-left: 20px;
    align-self: center;
}


.y-img {
    height: auto;
    width: 100%;
}

.youtube-search-container {
    border-radius: 20px;
    /*background-color: #aaa;*/
    background-color: rgba(0, 0, 0, 0%);
    height: 45px;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
    border: 1px solid #bbb;
}

.youtube-search {
    width: calc(100% - 20px);
    background-color: rgba(0, 0, 0, 0%);
    border-width: 0;
    font-size: 35px;
    color: #aaa;
}

.youtube-search:focus {
    outline: none;
}

.gt-img {
    width: 98px;
}

/* Width */
::-webkit-scrollbar {
    width: 0;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
    padding: 2px;
}

/* Track */
::-webkit-scrollbar {
    background: rgba(255, 255, 255, 0);
    max-height: 5px;
    max-width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: orange;
    border-radius: 20px;
    max-height: 5px;
    max-width: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: red;
    max-height: 5px;
    max-width: 5px;
}


.logo-version-text {
    margin-left: 6px;
    font-size: 11px;
}

.context-menu-nothing {
    text-align: center;
}

.close-menu-button {
    position: absolute;
    margin-left: -21px;
    margin-top: -13px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-size: 66%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
    transform: rotate(354deg);
    border: 1px solid #888;
}

input[type="checkbox"] {
    accent-color: rebeccapurple;
    transition: all 500ms ease-in-out;
}

.ssl-warning-message {
    background-color: #ffc107;
    padding-top: 3px;
    padding-bottom: 6px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.ssl-warning-message_first {
    align-self: center;
}

.small-flag {
    width: 38px;
    height: 20px;
    border: 1px solid black;
    margin-top: 3px;
    margin-right: 10px;
}

.small-flag:first-child {
    margin-left: 0;
}

.small-flag_latest {
    margin-right: 40px;
}
