.grid-container-wrapper {
    min-height: calc(100vh - 171px);
    transition: all 500ms ease-in-out;
}

.grid-container-wrapper.grid-container-wrapper_menu-hidden {
    min-height: calc(100vh - (171px - 41px));
}

.grid-container {
    display: grid;
    --columns-count: 21;
    --gap: 5px;
    --container-left-right-padding: 20px;
    grid-template-columns: repeat(
            var(--columns-count),
            calc(
                    ((100vw - var(--container-left-right-padding)) / var(--columns-count))
                    - (((var(--columns-count) - 1) * var(--gap)) / var(--columns-count))
            )
    );
    row-gap: var(--gap);
    justify-content: space-between;
    margin-bottom: 5px;
}

.item-plus {
    border-radius: 20px 20px 20px 20px !important;
    border: 3px dashed #CCC !important;
    box-sizing: border-box;
    justify-content: center;
    padding: 17px;
}

.item {
    background-color: rgba(0, 0, 0, 50%);
    width: 100%;
    height: auto;
    display: flex;
    border-radius: 20px 20px 5px 5px;
    flex-direction: column;
    border: 1px solid #444;
    box-shadow: 2px 2px 15px rgba(255, 255, 255, 0.2);
    overflow: hidden;
    user-select: none;
}

.item:hover {
    overflow: visible;
}

.item:hover .text-description {
    position: relative;
    text-align: center;
    overflow: visible;
}

.item-content {
    padding-top: 8px;
    padding-bottom: 8px;
}

.item:hover {
    background-color: rgba(0, 0, 0, 1);
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-color: #777;
    text-decoration-thickness: 2px;
}

.item-image-container {
    aspect-ratio: 1 / 0.71;
    overflow: hidden;
}

.item-img-wrapper {
    width: 65%;
    margin: auto;
    aspect-ratio: 1 / 1;
    height: 100%;
    display: flex;
    align-items: center;
    user-select: none;
}

.item-image-icon {
    width: 100%;
    /*max-height: 55px;*/
    overflow: hidden;
    object-fit: contain;
    user-select: none;
}

.search-engines {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10px;
}

.item-max {
    background-color: rgba(0, 0, 0, 0.5);

    height: 100px;
    width: calc(50% - 5px);

    display: flex;
    align-items: center;
    border-radius: 30px;
}

.img-fake {
    height: 100%;
}

.round-image-5 {
    border-radius: 5%;
}

.round-image-10 {
    border-radius: 10%;
}

.round-image-15 {
    border-radius: 15%;
}

.round-image-20 {
    border-radius: 20%;
}

.round-image-25 {
    border-radius: 25%;
}

.round-image-30 {
    border-radius: 30%;
}

.round-image-40 {
    border-radius: 40%;
}

.round-image-50 {
    border-radius: 50%;
}

.text-description {
    max-height: calc(1em + 2px);
    text-shadow: #000 2px -2px 2px;
    font-size: 80%;
    overflow: hidden;
}

/* First Lifetime Widget Start */
.item-1-life {
    justify-content: unset;
    height: 100%;
}

.item-1-life h1, .item-1-life h4 {
    margin: 0;
}

.item-1-life h1 {
    font-size: 19px;
}

.item-1-life h4 {
    font-size: 15px;
}

.item-1-life:hover {
    text-decoration: none;
}

.item-1-life__already_percent {
    padding-top: 3px;
}

.item-1-life__already_decimal {
}

.item-1-life__separator {
    padding-top: 2px;
    width: 100%;
    border-bottom: 2px solid rgba(255, 0, 0, 0.7);
    height: 0;
}

.item-1-life__estimate_percent {

}

.item-1-life__estimate_decimal {

}

/* First Lifetime Widget End */

.w-2-tabex-container {
    background-color: rgba(0, 0, 0, 0.5);
    height: auto;
    width: calc(50% - 5px);
    display: flex;
    border-radius: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 25px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

.tabex-day-container {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.tabex-day {
    width: 100px;
}

.tabex-day h3 {
    margin: 0;
    text-align: left;
}

.tabex-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    width: 100%;
}

.tabex-date-counter {
    text-align: left;
    font-size: 16px;
}

.tabex-checkboxes-list {
    display: flex;
    flex-direction: column;
}

.tabex-checkboxes-per-day {
    align-self: flex-start;
}

.tabex-checkboxes-description {
    font-size: 12px;
}

.tabex-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
