.kate-wrapper {
    border-radius: 15px;
    background: rgba(166, 166, 166, 0.08);
    width: calc(100% - 60px);
    margin: 30px 30px 30px 30px;
}

.kate-container {
    display: flex;
    width: 100%;
    gap: 15px;
}

.kate-items-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
}

.kate-left {
    width: 100%;
    max-width: calc(33% + 0.5% - 8px);
    min-width: calc(33% + 0.5% - 8px);
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.kate-left-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 230px;
    max-height: 230px;
}

.kate-weight-tracker {
    width: 100%;
    min-height: 230px;
    max-height: 230px;
    background: rgba(0, 0, 0, 0.40);
    border-radius: 15px;
}

.kate-expenses {
    width: calc(50% - 8px);
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.40);
}

.kate-water-tracker {
    width: calc(50% - 8px);
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.40);
}

.kate-right {
    max-width: calc(66% + 0.5% - 8px);
    min-width: calc(66% + 0.5% - 8px);
}

.kate-daily-container {
    display: flex;
    justify-content: space-between;
    width: 96%;
    background: rgba(0, 0, 0, 0.30);
    margin-right: 40px;
    border-radius: 15px;
    gap: 15px;
    padding: 15px;
    flex-wrap: wrap;
}

.kate-day {
    min-width: calc(25% - 12px);
    max-width: calc(25% - 12px);
    min-height: 215px;
    max-height: 215px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.35);
}

.kate-left-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 230px;
    max-height: 230px;
}

.kate-notes {
    width: calc(50% - 8px);
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.40);
}

.kate-calendar {
    width: calc(50% - 8px);
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.40);
}

.kate-day-header {
    width: 100%;
    display: flex;
    padding-left: 20px;
}

.kate-daily-habits {
    padding-top: 15px;
}

.kate-font {
    color: #E1E1E1;
    font-family: "Signika", serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@font-face {
    font-family: Signika;
    src: url(../fonts/Signika-Regular.ttf);
}

.kate-checkbox {
    padding-left: 21px;
}

.kate-day-of-week {
    font-family: "Signika", serif;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.4;
    padding-top: 15px;
    padding-right: 6px;
}

.kate-date {
    color: #FFF;
    font-family: "Signika", serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 0.15;
    padding-top: 1px;
}

.kate-header {
    display: flex;
    padding-left: 20px;
    padding-top: 15px;
    width: 100%;
}

.kate-checkbox {
    display: flex;
    width: 100%;
    padding-top: 7px;
}


.kate-checkbox-label {
    display: flex;
}

.kate-checkbox-label-text {
    color: #949494;
    font-family: "Signika", serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 7px;
    align-self: center;
    user-select: none;
}

.kate-today-counter {
    width: 100%;
    display: flex;
    padding-left: 20px;
    color: #949494;
    font-family: "Signika", serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 5px;
}

.kate-subheader {
    width: 100%;
    display: flex;
    padding-left: 20px;
    color: #949494;
    font-family: "Signika", serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 5px;
}

.kate-today-counter span {
    padding-left: 10px;
}

.kate-daily-habits-icons {
    padding-left: 20px;
    padding-top: 10px;
    display: flex;
    max-width: 100%;
    /*justify-content: space-between;*/
    flex-wrap: wrap;
    gap: 8px;
}

.kate-daily-habits-icon {
    width: 58px;
}

.kate-notes-items li {
    color: #949494;
    font-family: "Signika", serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    list-style: disc;
    padding-right: 10px;
}

.kate-notes-items li:not(li:first-child) {
    padding-top: 5px;
}

.kate-notes-items {
    width: 100%;
    text-align: left;
    padding-top: 13px;
}

.kate-expenses-container {
    display: flex;
    width: 100%;
    /*border: 1px solid white;*/
    height: calc(100% - 45px - 21px);
    color: #949494;
    font-family: "Signika", serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 10px;
}

.kate-expenses-top {
    display: flex;
    height: 75%;
    /*border: 1px solid white;*/
}

.kate-expenses-bottom {
    height: 20%;
    /*border: 1px solid white;*/
    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.kate-expenses-container-column {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kate-expenses-top-numbers {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 15px;
}

.kate-expenses-week-container {

}

.kate-expenses-week-container_active {
    border-radius: 10px;
    background: #7DADD9;
    color: black;
    padding-top: 2px;
    padding-bottom: 2px;
}

.kate-expenses-week-counter {
    margin-bottom: auto;
    color: black;
    width: 30px;
    padding-top: 7px;
}

.kate-expenses-week-counter-wrapper_114 {
    height: 114px !important;
}

.kate-expenses-week-counter-wrapper_100 {
    height: 100px !important;
}

.kate-expenses-week-counter-wrapper_92 {
    height: 92px !important;
    background: linear-gradient(180deg, #7EA4C7 46.11%, #FFF 96.71%) !important;
}

.kate-expenses-week-counter-wrapper {
    height: 69px;
    margin-top: auto;
    border-radius: 15px;
    background: #7DADD9;
}
