.notes {
    text-align: left;
    transition: all 500ms ease-in-out;
    display: flex;
    align-items: self-start;
    padding-top: 13px;
    padding-bottom: 13px;
}

.notes__settings {
    width: 24px;
    height: 24px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20%;
    border: 2px dashed white;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
}

.notes__add-note {
    width: 24px;
    height: 24px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20%;
    border: 2px dashed white;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    margin-left: 10px;
}

.notes__add-note-plus-svg {
    width: 20px;
    height: 20px;
    margin: auto;
}

svg.notes__add-note-plus-svg {
    fill: white !important;
}

.notes-list {
    display: flex;
    align-items: self-start;
    row-gap: 16px;
    flex-wrap: wrap;
    margin-left: 22px;
}

.notes_to-right .one-note:first-child {
    /*padding-left: 10px;*/
}

.one-note {
    margin-right: 10px;
    display: flex;
    position: relative;
    transition: all .5s ease-in-out;
}

.one-note textarea {
    width: 66px;
    outline: none;
    min-width: 44px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 0;
}

.one-note textarea::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
    /*padding: 10px;*/
    /*max-height: 10px;*/
    /*max-width: 10px;*/
}

.one-note textarea::-webkit-scrollbar-thumb {
    background: orange;
    border-radius: 20px;
    /*max-height: 10px;*/
    /*max-width: 10px;*/
}

.one-note textarea::-webkit-scrollbar-thumb:hover {
    background: red;
    /*max-height: 15px;*/
    /*max-width: 15px;*/
}

.one-note textarea::-webkit-scrollbar {
    /*width: 15px;*/
    /*height: 15px;*/
}
.one-note textarea::-webkit-scrollbar:hover {
}

.note-action-buttons {
    position: relative;
}

.note-mode-button {
    position: absolute;
    right: 35px;
    top: -12px;

    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-size: 66%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
    transform: rotate(354deg);
    border: 1px solid #888;
}

.note-hide-button {
    position: absolute;
    right: 14px;
    top: -12px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
    transform: rotate(354deg);
    border: 1px solid #888;
}

.note-close-button {
    position: absolute;
    right: -6px;
    top: -7px;

    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-size: 66%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
    transform: rotate(354deg);
    border: 1px solid #888;
    z-index: 100;
}

.one-note-textarea {
    background-color: antiquewhite;
    margin-bottom: -6px;
    position: relative;
    top: -1px;
    overflow: hidden;
    min-height: 27px;
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: scroll;
}

.one-note-textarea_night {
    background-color: black;
    color: white;
}

.where-note-container-wrapper {
    border-radius: 8px 8px 0 8px;
    /*min-width: 100px;*/
    /*max-width: 100px;*/
    min-height: 33px;
    text-wrap: wrap;
}

.where-note-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: -40px;
}

.where-text {
    color: #000;
    font-size: 16px;
    padding-left: 5px;
    padding-top: 2px;
}

.where-note {
    width: 40px;
    height: 40px;
}


/* links column */
.links-column {
    overflow: hidden;
}

.link-a {
}

.link-icon_red {
    background-color: red;
    border-radius: 10px;
}

.link-icon_green {
    background-color: green;
    border-radius: 10px;
}

.link-icon_blue {
    background-color: blue;
    border-radius: 10px;
}

.link-icon_yellow {
    background-color: #f6b000;
    border-radius: 10px;
}
.closed-notes {
    max-width: 350px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
}

.link-container {
    display: flex;
    align-items: center;
    min-width: 19px;
    max-width: 19px;
    min-height: 19px;
    max-height: 19px;
    position: absolute;
    overflow: hidden;
    box-sizing: border-box;
}

.link-container:hover {
    border: 1px solid chartreuse;
    z-index: 9999;
}

.where-note-container-wrapper {
    margin-left: 2px;
}

.link-icon {
    display: flex;
    align-self: center;
    min-width: 18px;
    max-width: 18px;
    margin-left: auto;
}
